phase4-enhanced-call-scheduling.json
{
  "name": "Medical Residency Scheduler - Phase 4 Enhanced: Inpatient-Pattern Call Scheduling",
  "version": "2.0.0",
  "description": "Phase 4: Enhanced Faculty Call Scheduling - Uses Faculty Inpatient Schedule with Friday-Saturday inpatient coverage and Sunday-Thursday non-inpatient coverage",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        400
      ],
      "id": "trigger-phase4-enhanced-start",
      "name": "Start Phase 4: Enhanced Call Scheduling"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDgFtrU7njCKDW5",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblAy1rJu4yJgKeX",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        300
      ],
      "id": "fetch-faculty-inpatient-schedule",
      "name": "Fetch Faculty Inpatient Schedule",
      "credentials": {
        "airtableTokenApi": {
          "id": "jaswG7byACjIoa6L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDgFtrU7njCKDW5",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblmgzodmqTsJ5inf",
          "mode": "id"
        },
        "filterByFormula": "=AND({Faculty} != 'Van Brunt', {Faculty} != 'Napierala', {Faculty Status} != 'Inactive')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        500
      ],
      "id": "fetch-active-faculty",
      "name": "Fetch Active Faculty",
      "credentials": {
        "airtableTokenApi": {
          "id": "jaswG7byACjIoa6L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        500,
        400
      ],
      "id": "merge-for-phase4-enhanced",
      "name": "Merge Data for Enhanced Phase 4"
    },
    {
      "parameters": {
        "jsCode": "// PHASE 4: INPATIENT-PATTERN CALL SCHEDULING\nconsole.log('=== PHASE 4: INPATIENT-PATTERN CALL SCHEDULING ===');\n\nconst allItems = $input.all();\nconsole.log(`Received ${allItems.length} items from merge`);\n\nlet inpatientScheduleRecords = [];\nlet activeFaculty = [];\nlet phase0AbsenceData = null;\nlet phase3EnhancedResults = null;\n\nallItems.forEach(item => {\n  const data = item.json;\n  \n  if (data.phase === 0 && data.absence_data) {\n    phase0AbsenceData = data.absence_data;\n  } else if (data.phase === 3 && data.enhanced_faculty_assignments) {\n    phase3EnhancedResults = data;\n  } else if (data['Inpatient Week Start'] || data['Block Number']) {\n    inpatientScheduleRecords.push(data);\n  } else if (data['Faculty'] && data['Last Name'] && !data['Leave Start']) {\n    activeFaculty.push(data);\n  }\n});\n\nconsole.log(`Found: ${inpatientScheduleRecords.length} inpatient schedule records`);\nconsole.log(`Found: ${activeFaculty.length} active faculty`);\nconsole.log(`Phase 0 absence data: ${phase0AbsenceData ? 'Available' : 'Not available'}`);\nconsole.log(`Phase 3 enhanced results: ${phase3EnhancedResults ? 'Available' : 'Not available'}`);\n\nconst facultyAbsences = phase0AbsenceData ? (phase0AbsenceData.facultyAbsences || {}) : {};\n\nconst daysOfWeek = [\n  { day: 'Friday', callField: 'Friday Call', dateField: 'Friday Date', isInpatientEligible: true },\n  { day: 'Saturday', callField: 'Saturday Call', dateField: 'Saturday Date', isInpatientEligible: true },\n  { day: 'Sunday', callField: 'Sunday Call', dateField: 'Sunday Date', isInpatientEligible: false },\n  { day: 'Monday', callField: 'Monday Call', dateField: 'Monday Date', isInpatientEligible: false },\n  { day: 'Tuesday', callField: 'Tuesday Call', dateField: 'Tuesday Date', isInpatientEligible: false },\n  { day: 'Wednesday', callField: 'Wednesday Call', dateField: 'Wednesday Date', isInpatientEligible: false },\n  { day: 'Thursday', callField: 'Thursday Call', dateField: 'Thursday Date', isInpatientEligible: false }\n];\n\nconst callAssignments = [];\nconst facultyCallCounts = {};\nconst facultyLastCallDate = {};\n\nactiveFaculty.forEach(faculty => {\n  const facultyId = faculty.id || faculty['Faculty ID'];\n  facultyCallCounts[facultyId] = 0;\n  facultyLastCallDate[facultyId] = null;\n});\n\nfunction isFacultyAvailable(facultyId, date) {\n  if (facultyAbsences[facultyId] && facultyAbsences[facultyId][date]) {\n    return false;\n  }\n  return true;\n}\n\nfunction getDaysSinceLastCall(facultyId, currentDate) {\n  if (!facultyLastCallDate[facultyId]) return Infinity;\n  const lastDate = new Date(facultyLastCallDate[facultyId]);\n  const current = new Date(currentDate);\n  return Math.floor((current - lastDate) / (1000 * 60 * 60 * 24));\n}\n\nfunction selectNonInpatientFaculty(date, inpatientFacultyIds, dayOfWeek) {\n  const eligible = activeFaculty.filter(faculty => {\n    const facultyId = faculty.id || faculty['Faculty ID'];\n    if (inpatientFacultyIds.includes(facultyId)) return false;\n    if (!isFacultyAvailable(facultyId, date)) return false;\n    return true;\n  });\n\n  if (eligible.length === 0) return null;\n\n  eligible.sort((a, b) => {\n    const aId = a.id || a['Faculty ID'];\n    const bId = b.id || b['Faculty ID'];\n    const aDays = getDaysSinceLastCall(aId, date);\n    const bDays = getDaysSinceLastCall(bId, date);\n    if (aDays !== bDays) return bDays - aDays;\n    return (facultyCallCounts[aId] || 0) - (facultyCallCounts[bId] || 0);\n  });\n\n  return eligible[0].id || eligible[0]['Faculty ID'];\n}\n\ninpatientScheduleRecords.forEach((record, recordIndex) => {\n  const blockNumber = record['Block Number'];\n  const weekOfBlock = record['Week Of Block'];\n  const inpatientWeekStart = record['Inpatient Week Start'];\n  const inpatientWeekEnd = record['Inpatient Week End'];\n\n  const inpatientFacultyIds = [];\n  \n  daysOfWeek.forEach(dayConfig => {\n    const callFieldValue = record[dayConfig.callField];\n    const dateFieldValue = record[dayConfig.dateField];\n    \n    if (!dateFieldValue) return;\n\n    let assignedFacultyId = null;\n    let assignmentMethod = null;\n\n    if (dayConfig.isInpatientEligible) {\n      if (callFieldValue && Array.isArray(callFieldValue) && callFieldValue.length > 0) {\n        assignedFacultyId = callFieldValue[0];\n        if (!inpatientFacultyIds.includes(assignedFacultyId)) {\n          inpatientFacultyIds.push(assignedFacultyId);\n        }\n        assignmentMethod = 'Inpatient Faculty (Mandatory)';\n      }\n    } else {\n      assignedFacultyId = selectNonInpatientFaculty(dateFieldValue, inpatientFacultyIds, dayConfig.day);\n      assignmentMethod = 'Non-Inpatient Faculty (Inpatient Excluded)';\n    }\n\n    if (assignedFacultyId) {\n      const assignedFaculty = activeFaculty.find(f => (f.id || f['Faculty ID']) === assignedFacultyId);\n      const facultyName = assignedFaculty ? (assignedFaculty.Faculty || assignedFaculty['Last Name']) : 'Unknown';\n\n      callAssignments.push({\n        date: dateFieldValue,\n        dayOfWeek: dayConfig.day.toLowerCase(),\n        assignedFaculty: assignedFacultyId,\n        facultyName: facultyName,\n        callType: 'Overnight Call',\n        assignmentMethod: assignmentMethod,\n        isInpatientDay: dayConfig.isInpatientEligible,\n        blockNumber: blockNumber,\n        weekOfBlock: weekOfBlock,\n        inpatientWeekStart: inpatientWeekStart,\n        inpatientWeekEnd: inpatientWeekEnd,\n        phase0Integration: phase0AbsenceData ? true : false\n      });\n\n      facultyCallCounts[assignedFacultyId] = (facultyCallCounts[assignedFacultyId] || 0) + 1;\n      facultyLastCallDate[assignedFacultyId] = dateFieldValue;\n    } else {\n      console.log(`WARNING: Could not assign faculty for ${dayConfig.day} ${dateFieldValue}`);\n    }\n  });\n});\n\nconst facultyUtilization = activeFaculty.map(faculty => {\n  const facultyId = faculty.id || faculty['Faculty ID'];\n  return {\n    facultyId: facultyId,\n    facultyName: faculty.Faculty || faculty['Last Name'],\n    totalCallsAssigned: facultyCallCounts[facultyId] || 0,\n    lastCallDate: facultyLastCallDate[facultyId],\n    absenceDays: facultyAbsences[facultyId] ? Object.keys(facultyAbsences[facultyId]).length : 0\n  };\n});\n\nconst statistics = {\n  totalInpatientWeeks: inpatientScheduleRecords.length,\n  totalCallDates: callAssignments.length,\n  fridaySaturdayInpatientCalls: callAssignments.filter(a => a.isInpatientDay).length,\n  sundayThursdayNonInpatientCalls: callAssignments.filter(a => !a.isInpatientDay).length,\n  totalActiveFaculty: activeFaculty.length,\n  phase0Integration: phase0AbsenceData ? true : false,\n  phase3Integration: phase3EnhancedResults ? true : false\n};\n\nconsole.log('\\n=== PHASE 4 RESULTS ===');\nconsole.log(`Total inpatient weeks processed: ${statistics.totalInpatientWeeks}`);\nconsole.log(`Total call assignments: ${statistics.totalCallDates}`);\nconsole.log(`Friday/Saturday (inpatient): ${statistics.fridaySaturdayInpatientCalls}`);\nconsole.log(`Sunday-Thursday (non-inpatient): ${statistics.sundayThursdayNonInpatientCalls}`);\n\nreturn [{\n  json: {\n    phase: 4,\n    phase_name: 'Inpatient-Pattern Call Scheduling',\n    success: true,\n    call_assignments: callAssignments,\n    faculty_utilization: facultyUtilization,\n    statistics: statistics,\n    configuration: {\n      inpatientDays: ['Friday', 'Saturday'],\n      nonInpatientDays: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday'],\n      clinicalWeekPattern: 'Friday to Thursday'\n    },\n    next_phase: 6,\n    ready_for_phase6: callAssignments.length > 0,\n    processing_timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ],
      "id": "phase4-enhanced-call-scheduling",
      "name": "Phase 4: Inpatient-Pattern Call Engine"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst callAssignments = input.call_assignments || [];\n\nconsole.log(`Formatting ${callAssignments.length} call assignments for Airtable`);\n\nconst airtableRecords = callAssignments.map(assignment => ({\n  fields: {\n    'Faculty': [assignment.assignedFaculty],\n    'Call Date': assignment.date,\n    'Day of Week': assignment.dayOfWeek,\n    'Call Type': assignment.callType,\n    'Assignment Method': assignment.assignmentMethod,\n    'Is Inpatient Day': assignment.isInpatientDay,\n    'Block Number': assignment.blockNumber,\n    'Week Of Block': assignment.weekOfBlock,\n    'Processing Phase': 'Phase 4 - Inpatient-Pattern Call Scheduling'\n  },\n  _metadata: {\n    facultyName: assignment.facultyName,\n    inpatientWeekStart: assignment.inpatientWeekStart,\n    inpatientWeekEnd: assignment.inpatientWeekEnd\n  }\n}));\n\nconsole.log(`Created ${airtableRecords.length} Airtable-ready records`);\n\nreturn airtableRecords.map(record => ({ json: record }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "id": "format-call-assignments",
      "name": "Format Call Assignments"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1100,
        400
      ],
      "id": "batch-call-records",
      "name": "Batch Call Records"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1300,
        400
      ],
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limiting)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appDgFtrU7njCKDW5/tbl15U9cF0uig9IEo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"records\": [\n    {\n      \"fields\": {\n        \"Faculty\": {{ $json.fields.Faculty }},\n        \"Call Date\": \"{{ $json.fields['Call Date'] }}\",\n        \"Day of Week\": \"{{ $json.fields['Day of Week'] }}\",\n        \"Call Type\": \"{{ $json.fields['Call Type'] }}\",\n        \"Assignment Method\": \"{{ $json.fields['Assignment Method'] }}\",\n        \"Is Inpatient Day\": {{ $json.fields['Is Inpatient Day'] }},\n        \"Block Number\": \"{{ $json.fields['Block Number'] }}\",\n        \"Week Of Block\": \"{{ $json.fields['Week Of Block'] }}\",\n        \"Processing Phase\": \"{{ $json.fields['Processing Phase'] }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        400
      ],
      "id": "create-call-assignments",
      "name": "Create Call Assignments",
      "credentials": {
        "airtableTokenApi": {
          "id": "jaswG7byACjIoa6L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log('=== PHASE 4 COMPLETION SUMMARY ===');\n\nconst phase4Results = $('Phase 4: Inpatient-Pattern Call Engine').first().json;\nconst airtableResults = $input.all();\n\nconst successfulCreations = airtableResults.filter(result => \n  result.json && result.json.records && result.json.records.length > 0\n).length;\n\nconst stats = phase4Results.statistics;\n\nconst completionSummary = {\n  phase: 4,\n  phase_name: 'Inpatient-Pattern Call Scheduling Complete',\n  results: {\n    total_inpatient_weeks: stats.totalInpatientWeeks,\n    total_call_assignments: stats.totalCallDates,\n    friday_saturday_inpatient: stats.fridaySaturdayInpatientCalls,\n    sunday_thursday_non_inpatient: stats.sundayThursdayNonInpatientCalls,\n    airtable_records_created: successfulCreations\n  },\n  pattern_compliance: {\n    inpatient_days_covered: stats.fridaySaturdayInpatientCalls > 0,\n    non_inpatient_days_covered: stats.sundayThursdayNonInpatientCalls > 0,\n    clinical_week_pattern: 'Friday to Thursday',\n    inpatient_exclusion_active: true\n  },\n  next_phase: 6,\n  ready_for_phase6: successfulCreations > 0,\n  processing_complete: new Date().toISOString()\n};\n\nconsole.log(`Total call assignments: ${stats.totalCallDates}`);\nconsole.log(`Friday/Saturday (inpatient): ${stats.fridaySaturdayInpatientCalls}`);\nconsole.log(`Sunday-Thursday (non-inpatient): ${stats.sundayThursdayNonInpatientCalls}`);\nconsole.log(`Airtable records created: ${successfulCreations}`);\n\nreturn [{ json: completionSummary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        400
      ],
      "id": "phase4-completion-summary",
      "name": "Phase 4 Completion Summary"
    }
  ],
  "connections": {
    "Start Phase 4: Enhanced Call Scheduling": {
      "main": [
        [
          {
            "node": "Fetch Faculty Inpatient Schedule",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Faculty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Faculty Inpatient Schedule": {
      "main": [
        [
          {
            "node": "Merge Data for Enhanced Phase 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Faculty": {
      "main": [
        [
          {
            "node": "Merge Data for Enhanced Phase 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data for Enhanced Phase 4": {
      "main": [
        [
          {
            "node": "Phase 4: Inpatient-Pattern Call Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 4: Inpatient-Pattern Call Engine": {
      "main": [
        [
          {
            "node": "Format Call Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Call Assignments": {
      "main": [
        [
          {
            "node": "Batch Call Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Call Records": {
      "main": [
        [
          {
            "node": "Wait (Rate Limiting)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limiting)": {
      "main": [
        [
          {
            "node": "Create Call Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Call Assignments": {
      "main": [
        [
          {
            "node": "Phase 4 Completion Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Phase 4: Inpatient-pattern call scheduling using Faculty Inpatient Schedule with Friday-Saturday inpatient coverage and Sunday-Thursday non-inpatient coverage",
    "version": "2.0.0",
    "author": "Medical Scheduling Optimization Team"
  }
}
