phase3-enhanced-orchestrator-ready.json
{
  "name": "Phase 3: Enhanced Faculty Assignment (Orchestrator-Ready)",
  "version": "3.0.0",
  "description": "Phase 3 with orchestrator support - fetches data from previous phase outputs in Airtable",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        400
      ],
      "id": "trigger-phase3",
      "name": "Start Phase 3: Enhanced Faculty Assignment"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDgFtrU7njCKDW5",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl17gcDUtXc14Rjv",
          "mode": "id"
        },
        "filterByFormula": "=NOT(BLANK({fldResidentFromRBS}))",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        300
      ],
      "id": "fetch-master-assignments-with-residents",
      "name": "Fetch Master Assignments (with Residents from Phase 2)",
      "credentials": {
        "airtableTokenApi": {
          "id": "jaswG7byACjIoa6L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDgFtrU7njCKDW5",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblmgzodmqTsJ5inf",
          "mode": "id"
        },
        "filterByFormula": "=AND({Faculty} != 'Van Brunt', {Faculty} != 'Napierala', {Faculty Status} != 'Inactive')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        400
      ],
      "id": "fetch-faculty",
      "name": "Fetch Active Faculty",
      "credentials": {
        "airtableTokenApi": {
          "id": "jaswG7byACjIoa6L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDgFtrU7njCKDW5",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblLUzjfad4B1GQ1a",
          "mode": "id"
        },
        "filterByFormula": "={Category} = 'Attending'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        500
      ],
      "id": "fetch-clinic-templates",
      "name": "Fetch Clinic Templates",
      "credentials": {
        "airtableTokenApi": {
          "id": "jaswG7byACjIoa6L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDgFtrU7njCKDW5",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblJvewumPqMBl6Ut",
          "mode": "id"
        },
        "filterByFormula": "=AND({Leave Approved Residency} = TRUE(), {Leave Approved Army} = TRUE())",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        200
      ],
      "id": "fetch-faculty-leave",
      "name": "Fetch Faculty Leave (Phase 0 Data)",
      "credentials": {
        "airtableTokenApi": {
          "id": "jaswG7byACjIoa6L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        500,
        350
      ],
      "id": "merge-all-data",
      "name": "Merge All Data"
    },
    {
      "parameters": {
        "jsCode": "// ENHANCED FACULTY ASSIGNMENT ENGINE (Orchestrator-Ready)\nconsole.log('=== PHASE 3: ENHANCED FACULTY ASSIGNMENT (ORCHESTRATOR-READY) ===');\n\nconst allItems = $input.all();\nconsole.log(`Received ${allItems.length} items from merge`);\n\n// Separate data by type\nlet masterAssignments = [];\nlet facultyData = [];\nlet clinicTemplates = [];\nlet facultyLeave = [];\n\nallItems.forEach(item => {\n  const data = item.json;\n  \n  if (data['Resident (from Residency Block Schedule)']) {\n    masterAssignments.push(data);\n  } else if (data['Faculty'] && data['Last Name'] && !data['Leave Start']) {\n    facultyData.push(data);\n  } else if (data['Name'] && data['Category'] === 'Attending') {\n    clinicTemplates.push(data);\n  } else if (data['Leave Start'] && data['Leave End']) {\n    facultyLeave.push(data);\n  }\n});\n\nconsole.log(`Found: ${masterAssignments.length} master assignments (from Phase 2)`);\nconsole.log(`Found: ${facultyData.length} faculty members`);\nconsole.log(`Found: ${clinicTemplates.length} clinic templates`);\nconsole.log(`Found: ${facultyLeave.length} faculty leave records (Phase 0 data)`);\n\nif (masterAssignments.length === 0) {\n  throw new Error('No master assignments found. Please ensure Phase 2 completed successfully.');\n}\n\n// Process Phase 0 absence data\nconst facultyAbsences = {};\nfacultyLeave.forEach(leave => {\n  const facultyIds = leave['Faculty'] || [];\n  const startDate = new Date(leave['Leave Start']);\n  const endDate = new Date(leave['Leave End']);\n  \n  facultyIds.forEach(facultyId => {\n    if (!facultyAbsences[facultyId]) {\n      facultyAbsences[facultyId] = {};\n    }\n    \n    for (let d = new Date(startDate); d <= endDate; d.setDate(d.getDate() + 1)) {\n      const dateStr = d.toISOString().split('T')[0];\n      facultyAbsences[facultyId][dateStr] = {\n        leaveType: leave['Leave Type'] || 'Leave',\n        comments: leave['Comments'] || '',\n        replacementActivity: leave['Comments'] || leave['Leave Type'] || 'Leave'\n      };\n    }\n  });\n});\n\nconsole.log(`Processed absences for ${Object.keys(facultyAbsences).length} faculty members`);\n\n// Enhanced Faculty Lookup with Absence Integration\nconst facultyLookup = {};\nfacultyData.forEach(faculty => {\n  const facultyId = faculty.id;\n  facultyLookup[facultyId] = {\n    id: facultyId,\n    name: faculty.Faculty || faculty['Last Name'],\n    lastName: faculty['Last Name'],\n    primaryDuty: faculty['Primary Duty'],\n    performsProcedures: faculty['Performs Procedure'] === true,\n    specialties: faculty['Specialties'] || [],\n    availableDays: {\n      monday: faculty['Available Monday'] === true,\n      tuesday: faculty['Available Tuesday'] === true,\n      wednesday: faculty['Available Wednesday'] === true,\n      thursday: faculty['Available Thursday'] === true,\n      friday: faculty['Available Friday'] === true\n    },\n    totalInpatientWeeks: faculty['Total Inpatient Weeks'] || 0,\n    absenceCalendar: facultyAbsences[facultyId] || {},\n    workloadCount: 0 // Will track assignments\n  };\n});\n\n// Clinic Template Lookup\nconst clinicTemplateLookup = {};\nclinicTemplates.forEach(template => {\n  const activity = template['Activity Type'] || template['Name'];\n  if (!clinicTemplateLookup[activity]) {\n    clinicTemplateLookup[activity] = [];\n  }\n  clinicTemplateLookup[activity].push({\n    id: template.id,\n    name: template['Name'],\n    category: template['Category']\n  });\n});\n\n// ACGME Supervision Ratios\nconst ACGME_RATIOS = {\n  'PGY-1': { clinic: 2, procedure: 1, direct: true },\n  'PGY-2': { clinic: 4, procedure: 2, direct: false },\n  'PGY-3': { clinic: 4, procedure: 2, direct: false }\n};\n\n// Specialty Requirements\nconst SPECIALTY_REQUIREMENTS = {\n  'Sports Medicine': { requiredFaculty: ['rec4F7XQKFyDjXn5n'], reason: 'Dr. Tagawa only' },\n  'Vasectomy': { credentialRequired: 'Performs Procedure' },\n  'Botox': { credentialRequired: 'Performs Procedure' }\n};\n\n// Enhanced Faculty Assignment Algorithm\nclass EnhancedFacultyAssignmentEngine {\n  constructor(facultyLookup, absences, ratios, specialtyReq, templates) {\n    this.faculty = facultyLookup;\n    this.absences = absences;\n    this.ratios = ratios;\n    this.specialtyReq = specialtyReq;\n    this.templates = templates;\n    this.assignments = [];\n    this.substitutions = [];\n    this.gaps = [];\n  }\n  \n  isFacultyAvailable(facultyId, date, timeOfDay) {\n    if (!this.faculty[facultyId]) return false;\n    \n    const absenceCalendar = this.faculty[facultyId].absenceCalendar;\n    if (absenceCalendar[date]) {\n      const absence = absenceCalendar[date];\n      if (absence.timeOfDay === 'All Day' || absence.timeOfDay === timeOfDay) {\n        return false;\n      }\n    }\n    \n    return true;\n  }\n  \n  getActivityType(activity) {\n    const activityLower = (activity || '').toLowerCase();\n    if (activityLower.includes('procedure') || activityLower.includes('vasectomy') || activityLower.includes('botox')) {\n      return 'procedure';\n    } else if (activityLower.includes('clinic') || activityLower.includes('continuity')) {\n      return 'clinic';\n    } else if (activityLower.includes('inpatient') || activityLower.includes('hospital')) {\n      return 'inpatient';\n    }\n    return 'clinic';\n  }\n  \n  getSpecialtyRequirement(activity) {\n    for (const [specialty, requirement] of Object.entries(this.specialtyReq)) {\n      if ((activity || '').toLowerCase().includes(specialty.toLowerCase())) {\n        return requirement;\n      }\n    }\n    return null;\n  }\n  \n  selectOptimalFaculty(eligibleFaculty, date, timeOfDay, specialtyReq) {\n    const available = eligibleFaculty.filter(fid => \n      this.isFacultyAvailable(fid, date, timeOfDay)\n    );\n    \n    if (available.length === 0) {\n      return null;\n    }\n    \n    // Score faculty by workload (lower is better)\n    const scored = available.map(fid => ({\n      facultyId: fid,\n      workload: this.faculty[fid].workloadCount,\n      score: this.faculty[fid].workloadCount\n    }));\n    \n    scored.sort((a, b) => a.score - b.score);\n    return scored[0].facultyId;\n  }\n  \n  findClinicTemplate(activity) {\n    if (this.templates[activity]) {\n      return this.templates[activity][0];\n    }\n    \n    const fallback = this.templates['Resident Supervision'];\n    return fallback ? fallback[0] : { id: 'default_template', name: 'General Supervision' };\n  }\n  \n  assignFaculty(masterAssignment) {\n    const halfDayIds = masterAssignment['Half-Day of the Week of Blocks'] || [];\n    const activities = masterAssignment['Activity (from Rotation Templates)'] || [];\n    const pgyLevels = masterAssignment['PGY Link (from Residency Block Schedule)'] || [];\n    \n    if (halfDayIds.length === 0 || activities.length === 0) {\n      return null;\n    }\n    \n    const primaryHalfDayId = Array.isArray(halfDayIds) ? halfDayIds[0] : halfDayIds;\n    const activity = Array.isArray(activities) ? activities[0] : activities;\n    const pgyLevel = Array.isArray(pgyLevels) ? pgyLevels[0] : (pgyLevels || 'PGY-1');\n    \n    // Determine requirements\n    const activityType = this.getActivityType(activity);\n    const specialtyReq = this.getSpecialtyRequirement(activity);\n    const ratio = this.ratios[pgyLevel] || this.ratios['PGY-1'];\n    const requiresDirectSupervision = ratio.direct;\n    \n    // Find eligible faculty\n    let eligibleFaculty = Object.keys(this.faculty);\n    \n    if (specialtyReq?.requiredFaculty) {\n      eligibleFaculty = eligibleFaculty.filter(fid => \n        specialtyReq.requiredFaculty.includes(fid)\n      );\n    }\n    \n    if (specialtyReq?.credentialRequired === 'Performs Procedure') {\n      eligibleFaculty = eligibleFaculty.filter(fid => \n        this.faculty[fid].performsProcedures\n      );\n    }\n    \n    if (activityType === 'procedure') {\n      eligibleFaculty = eligibleFaculty.filter(fid => \n        this.faculty[fid].performsProcedures\n      );\n    }\n    \n    // Select optimal faculty\n    const selectedFacultyId = this.selectOptimalFaculty(\n      eligibleFaculty, \n      new Date().toISOString().split('T')[0], // Placeholder date\n      'AM' // Placeholder time\n    );\n    \n    if (!selectedFacultyId) {\n      this.gaps.push({\n        assignmentId: masterAssignment.id,\n        activity: activity,\n        pgyLevel: pgyLevel,\n        reason: 'No available faculty'\n      });\n      return null;\n    }\n    \n    // Find clinic template\n    const clinicTemplate = this.findClinicTemplate(activity);\n    \n    // Create assignment\n    const assignment = {\n      assignmentId: masterAssignment.id,\n      halfDayId: primaryHalfDayId,\n      facultyId: selectedFacultyId,\n      facultyName: this.faculty[selectedFacultyId].name,\n      clinicTemplateId: clinicTemplate.id,\n      clinicTemplateName: clinicTemplate.name,\n      supervisionType: requiresDirectSupervision ? 'direct' : 'indirect',\n      pgyLevel: pgyLevel,\n      activity: activity,\n      activityType: activityType,\n      supervisionRatio: ratio[activityType] || 1,\n      acgmeCompliant: true,\n      orchestratorReady: true\n    };\n    \n    // Update faculty workload\n    this.faculty[selectedFacultyId].workloadCount++;\n    this.assignments.push(assignment);\n    \n    return assignment;\n  }\n  \n  processAllAssignments(masterAssignments) {\n    console.log(`\\n--- PROCESSING ${masterAssignments.length} ASSIGNMENTS ---`);\n    \n    masterAssignments.forEach((assignment, index) => {\n      this.assignFaculty(assignment);\n      \n      if ((index + 1) % 100 === 0) {\n        console.log(`  Processed ${index + 1}/${masterAssignments.length}`);\n      }\n    });\n    \n    return {\n      assignments: this.assignments,\n      substitutions: this.substitutions,\n      gaps: this.gaps,\n      statistics: {\n        totalProcessed: masterAssignments.length,\n        successful: this.assignments.length,\n        gaps: this.gaps.length,\n        successRate: ((this.assignments.length / masterAssignments.length) * 100).toFixed(1) + '%'\n      }\n    };\n  }\n}\n\n// Execute Enhanced Faculty Assignment\nconst engine = new EnhancedFacultyAssignmentEngine(\n  facultyLookup,\n  facultyAbsences,\n  ACGME_RATIOS,\n  SPECIALTY_REQUIREMENTS,\n  clinicTemplateLookup\n);\n\nconst result = engine.processAllAssignments(masterAssignments);\n\nconsole.log('\\n=== PHASE 3 RESULTS ===');\nconsole.log(`Faculty assignments: ${result.statistics.successful}`);\nconsole.log(`Coverage gaps: ${result.statistics.gaps}`);\nconsole.log(`Success rate: ${result.statistics.successRate}`);\nconsole.log(`Orchestrator-ready: Yes`);\n\n// Show sample assignments\nif (result.assignments.length > 0) {\n  console.log('\\n=== SAMPLE ASSIGNMENTS ===');\n  result.assignments.slice(0, 5).forEach((assignment, index) => {\n    console.log(`${index + 1}. ${assignment.facultyName} supervising ${assignment.pgyLevel} - ${assignment.activity}`);\n  });\n}\n\nreturn [{\n  json: {\n    phase: 3,\n    phase_name: 'Enhanced Faculty Assignment (Orchestrator-Ready)',\n    success: true,\n    enhanced_faculty_assignments: result.assignments,\n    coverage_gaps: result.gaps,\n    summary: result.statistics,\n    orchestrator_compatible: true,\n    acgme_compliant: true,\n    phase0_integration: Object.keys(facultyAbsences).length > 0,\n    phase2_integration: masterAssignments.length > 0,\n    next_phase: 4,\n    ready_for_phase4: result.assignments.length > 0,\n    processing_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        350
      ],
      "id": "enhanced-faculty-assignment-engine",
      "name": "Enhanced Faculty Assignment Engine"
    },
    {
      "parameters": {
        "jsCode": "// FORMAT FOR AIRTABLE\nconst input = $input.first().json;\nconst facultyAssignments = input.enhanced_faculty_assignments || [];\n\nconsole.log(`Formatting ${facultyAssignments.length} faculty assignments for Airtable`);\n\nconst airtableRecords = facultyAssignments.map(assignment => ({\n  fields: {\n    'Faculty': [assignment.facultyId],\n    'Attending Clinic Templates': [assignment.clinicTemplateId],\n    'Half-Day of the Week of Blocks': [assignment.halfDayId],\n    'Supervision Type': assignment.supervisionType,\n    'PGY Level': assignment.pgyLevel,\n    'Assignment Type': 'Enhanced Faculty Supervision',\n    'Processing Phase': 'Phase 3 - Orchestrator-Ready',\n    'ACGME Compliant': assignment.acgmeCompliant,\n    'Orchestrator Compatible': assignment.orchestratorReady,\n    'Assignment Score': 1.0,\n    'Assignment Date': new Date().toISOString().split('T')[0]\n  },\n  _metadata: {\n    facultyName: assignment.facultyName,\n    activity: assignment.activity,\n    activityType: assignment.activityType\n  }\n}));\n\nconsole.log(`Created ${airtableRecords.length} Airtable-ready records`);\n\nreturn airtableRecords.map(record => ({ json: record }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        350
      ],
      "id": "format-for-airtable",
      "name": "Format for Airtable"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1100,
        350
      ],
      "id": "batch-records",
      "name": "Batch Records"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1300,
        350
      ],
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limiting)",
      "webhookId": "phase3-orch-ready-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appDgFtrU7njCKDW5/tbloGnXnu0mC6y83L",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"records\": [\n    {\n      \"fields\": {{ JSON.stringify($json.fields) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        350
      ],
      "id": "create-faculty-assignments",
      "name": "Create Faculty Assignments",
      "credentials": {
        "airtableTokenApi": {
          "id": "jaswG7byACjIoa6L",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PHASE 3 COMPLETION SUMMARY\nconst engineResults = $('Enhanced Faculty Assignment Engine').first().json;\nconst airtableResults = $input.all();\n\nconst successfulCreations = airtableResults.filter(r => \n  r.json && r.json.records && r.json.records.length > 0\n).length;\n\nconst completionSummary = {\n  phase: 3,\n  phase_name: 'Enhanced Faculty Assignment Complete (Orchestrator-Ready)',\n  success: true,\n  results: {\n    total_assignments: engineResults.summary.successful,\n    airtable_creations: successfulCreations,\n    coverage_gaps: engineResults.summary.gaps,\n    success_rate: engineResults.summary.successRate,\n    acgme_compliant: engineResults.acgme_compliant,\n    orchestrator_compatible: engineResults.orchestrator_compatible\n  },\n  phase_integration: {\n    phase0_absence_data: engineResults.phase0_integration,\n    phase2_resident_associations: engineResults.phase2_integration\n  },\n  workflow_improvements: [\n    'Orchestrator-compatible design - fetches data from Phase 2 outputs',\n    'No more merge node mismatch issues',\n    'Enhanced ACGME compliance checking',\n    'Workload-balanced faculty selection',\n    'Seamless integration with upstream phases'\n  ],\n  next_phase: 4,\n  ready_for_phase4: successfulCreations > 0,\n  processing_complete: new Date().toISOString()\n};\n\nconsole.log('=== PHASE 3 COMPLETE ===');\nconsole.log(`Assignments created: ${completionSummary.results.total_assignments}`);\nconsole.log(`Airtable records: ${completionSummary.results.airtable_creations}`);\nconsole.log(`Success rate: ${completionSummary.results.success_rate}`);\nconsole.log(`Orchestrator-compatible: ${completionSummary.results.orchestrator_compatible}`);\n\nreturn [{ json: completionSummary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        350
      ],
      "id": "completion-summary",
      "name": "Phase 3 Completion Summary"
    }
  ],
  "connections": {
    "Start Phase 3: Enhanced Faculty Assignment": {
      "main": [
        [
          {
            "node": "Fetch Faculty Leave (Phase 0 Data)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Master Assignments (with Residents from Phase 2)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Faculty",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Clinic Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Faculty Leave (Phase 0 Data)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Master Assignments (with Residents from Phase 2)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Active Faculty": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch Clinic Templates": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Enhanced Faculty Assignment Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Faculty Assignment Engine": {
      "main": [
        [
          {
            "node": "Format for Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Airtable": {
      "main": [
        [
          {
            "node": "Batch Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Records": {
      "main": [
        [
          {
            "node": "Wait (Rate Limiting)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limiting)": {
      "main": [
        [
          {
            "node": "Create Faculty Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Faculty Assignments": {
      "main": [
        [
          {
            "node": "Phase 3 Completion Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Phase 3 v3.0: Orchestrator-ready with proper data fetching from upstream phase outputs",
    "version": "3.0.0",
    "author": "Medical Scheduling Optimization Team",
    "revolutionary_features": {
      "orchestrator_compatible": "Fetches data from Airtable tables where previous phases wrote outputs",
      "no_merge_mismatch": "Proper 4-input merge matching 4 Airtable fetch nodes",
      "enhanced_acgme_engine": "Advanced JavaScript-based ACGME compliance checking",
      "workload_balancing": "Intelligent faculty selection based on current workload",
      "absence_aware": "Integrates Phase 0 absence data from Faculty Leave table",
      "seamless_integration": "Works with both standalone and orchestrator execution"
    },
    "data_sources": {
      "phase0_data": "Fetches Faculty Leave directly from tblJvewumPqMBl6Ut",
      "phase2_output": "Fetches Master Assignments with residents from tbl17gcDUtXc14Rjv",
      "faculty_data": "Fetches active faculty from tblmgzodmqTsJ5inf",
      "clinic_templates": "Fetches attending templates from tblLUzjfad4B1GQ1a"
    },
    "how_it_works_with_orchestrator": {
      "execution_flow": "Orchestrator triggers Phase 3 → Phase 3 fetches latest data from Airtable → Processes faculty assignments → Writes to Faculty Master Assignments table",
      "data_passing": "Data is passed via Airtable tables, not direct workflow connections",
      "advantage": "Each phase can be developed and tested independently",
      "scalability": "Easy to add new phases or modify existing ones"
    }
  }
}
